# Ignore From Lokal
amd64/*.iso
amd64/*.iso.sha1sum
amd64/*.iso.md5msum
amd64/*.list
amd64/*.txt
#amd64/*.manifest
amd64/root
amd64/dvd
amd64/deb
amd64/mnt

i386/*.iso
i386/*.iso.sha1sum
i386/*.iso.md5msum
i386/*.list
i386/*.txt
#i386/*.manifest
i386/root
i386/dvd
i386/deb
i386/mnt

console/*.iso
console/*.iso.sha1sum
console/*.iso.md5msum
console/*.list
console/*.txt
#console/*.manifest
console/root
console/dvd
console/deb
console/mnt

# Ignore From Lokal
amd64/arok/*.iso
amd64/arok/*.iso.sha1sum
amd64/arok/*.iso.md5msum
amd64/arok/*.list
amd64/arok/*.txt
#amd64/arok/*.manifest
amd64/arok/root
amd64/arok/dvd
amd64/arok/deb
amd64/arok/mnt

i386/arok/*.iso
i386/arok/*.iso.sha1sum
i386/arok/*.iso.md5msum
i386/arok/*.list
i386/arok/*.txt
#i386/arok/*.manifest
i386/arok/root
i386/arok/dvd
i386/arok/deb
i386/arok/mnt

console/arok/*.iso
console/arok/*.iso.sha1sum
console/arok/*.iso.md5msum
console/arok/*.list
console/arok/*.txt
#console/arok/*.manifest
console/arok/root
console/arok/dvd
console/arok/deb
console/arok/mnt

# Ignore From Lokal
amd64/batik/*.iso
amd64/batik/*.iso.sha1sum
amd64/batik/*.iso.md5msum
amd64/batik/*.list
amd64/batik/*.txt
#amd64/batik/*.manifest
amd64/batik/root
amd64/batik/dvd
amd64/batik/deb
amd64/batik/mnt

i386/batik/*.iso
i386/batik/*.iso.sha1sum
i386/batik/*.iso.md5msum
i386/batik/*.list
i386/batik/*.txt
#i386/batik/*.manifest
i386/batik/root
i386/batik/dvd
i386/batik/deb
i386/batik/mnt

console/batik/*.iso
console/batik/*.iso.sha1sum
console/batik/*.iso.md5msum
console/batik/*.list
console/batik/*.txt
#console/batik/*.manifest
console/batik/root
console/batik/dvd
console/batik/deb
console/batik/mnt

# Ignore From Lokal
amd64/brawijaya/*.iso
amd64/brawijaya/*.iso.sha1sum
amd64/brawijaya/*.iso.md5msum
amd64/brawijaya/*.list
amd64/brawijaya/*.txt
#amd64/brawijaya/*.manifest
amd64/brawijaya/root
amd64/brawijaya/dvd
amd64/brawijaya/deb
amd64/brawijaya/mnt

i386/brawijaya/*.iso
i386/brawijaya/*.iso.sha1sum
i386/brawijaya/*.iso.md5msum
i386/brawijaya/*.list
i386/brawijaya/*.txt
#i386/brawijaya/*.manifest
i386/brawijaya/root
i386/brawijaya/dvd
i386/brawijaya/deb
i386/brawijaya/mnt

console/brawijaya/*.iso
console/brawijaya/*.iso.sha1sum
console/brawijaya/*.iso.md5msum
console/brawijaya/*.list
console/brawijaya/*.txt
#console/brawijaya/*.manifest
console/brawijaya/root
console/brawijaya/dvd
console/brawijaya/deb
console/brawijaya/mnt

# Ignore From Lokal
amd64/canting/*.iso
amd64/canting/*.iso.sha1sum
amd64/canting/*.iso.md5msum
amd64/canting/*.list
amd64/canting/*.txt
#amd64/canting/*.manifest
amd64/canting/root
amd64/canting/dvd
amd64/canting/deb
amd64/canting/mnt

i386/canting/*.iso
i386/canting/*.iso.sha1sum
i386/canting/*.iso.md5msum
i386/canting/*.list
i386/canting/*.txt
#i386/canting/*.manifest
i386/canting/root
i386/canting/dvd
i386/canting/deb
i386/canting/mnt

console/canting/*.iso
console/canting/*.iso.sha1sum
console/canting/*.iso.md5msum
console/canting/*.list
console/canting/*.txt
#console/canting/*.manifest
console/canting/root
console/canting/dvd
console/canting/deb
console/canting/mnt

